@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --azul100: #001489;
    --azulBtn: #243387;
    --azulBtnHover: #091d8b;
    --azul70: #4C5AAC;
    --azul20: #CCD0E7;
    --azul05: #F2F3F9;
    --font: #383838;
    --white: #EEEEEE;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}
    



.panel{
    padding: 2px;
    padding-top: 1px;
    overflow-y: auto;
    overscroll-behavior: contain;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--azul100);
    user-select: none;
    scroll-behavior: smooth;
}

#header-pgn {
    padding-inline: 1rem;
    padding-block: .8rem;
    color: white;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    transition: background-color 0.3s, backdrop-filter 0.3s;
}

#header-pgn>div {
    display: flex;
    align-items: center;
    font-size: .8rem;
}

#logo-instituto {
    height: 3rem;
    width: 5.3rem;
    border-right: 2px solid white;
    padding-right: 10px;
    margin-right: 10px;
    border-radius: 2.4px;
}

#header-pgn>h1 {
    font-size: 1.7rem;
    font-weight: 600;
}

main {
    background-color: var(--azul05);
    border-radius: 10px 10px 0 0;
    padding-block: 1rem;
    flex-grow: 1;
    padding-inline: 4rem;
}

#filtros {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    row-gap: 1rem;
}

#container-serie-select,
#container-turma-select,
#container-disc-select {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.serie-select {
    width: 5rem;
}

.disc-select {
    width: 100%;
}

.serie-select,
.disc-select,
.dia-semana-select,
.horario-select,
#nome-input,
#email-input,
#justificativa-textarea {
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: 1px solid blue;
    cursor: pointer;
    padding-block: 0.3rem;
    padding-inline: 1rem;
    padding: 6px;   
}


#visualizacao-popup{
    color: var(--white);
    background-color: var(--azul100);
    height: fit-content;
    padding: 1rem;
    border-radius: .6rem;
    width: 100%;
}

#visualizacao-popup p span{
    font-weight: 275;
}

#justificativa-textarea {
    text-align: start;
}

.tabela {
    border-radius: 0.6rem;
    color: black;
    position: relative;
}

#msg-erro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c9c6c6;
    font-size: 1.3rem;
    padding: .2rem;
}

#container-btn-tabela{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: end;
}

.desativada {
    background-color: #c9c6c6;
}

.cabecalho-ativo{
    color: var(--white);
    background-color: var(--azul100);
}

.calendar-caption {
    text-align: center;
    margin-block: 1rem;
}

#caption-tabela {
    display: grid;
    grid-template-columns: 25% 50% 15%;
}informacoes-popup

#data-semanas {
    grid-column: 2;
}

#marcar-monitoria {
    padding-inline: .2rem;
    padding: 0.5rem;
}

.tabela table {
    width: 90%;
    border-collapse: collapse;
}

.tabela th, .tabela td {
    width: 40px; 
    height: 30px; 
    text-align: center;
    padding: 10px; 
    font-weight: 600;
  }

.tabela th {
    border: 1px solid var(--white);
}

.tabela td {
    border: 1px solid var(--azul100);
}

.calendar-table {
    margin: auto;
}

#inputs {
    display: grid;
}

input[type=text],
input[type=email] {
    outline: none;
    border: 1px solid blue;
    padding-inline: .6rem;
    padding-block: .3rem;
    border-radius: .6rem;
}

.container-btn {
    justify-content: end;
    display: flex;
    margin: 1.3rem;
}

button, #btn-cancel-popup:hover {
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: .6rem;
    border: 1px solid white;
    color: white;
    background-color: var(--azul100);
    transition: .3s ease-in-out;
}

button, #btn-marcar-popup:hover {
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: .6rem;
    border: 1px solid white;
    color: white;
    background-color: var(--azulBtn);
    transition: .3s ease-in-out;
}

button:hover {
    background-color: var(--azulBtnHover);
}

#h2formulario {
    margin-left: 5rem;
    margin-right: 5rem;
}

#openPopupBtn {
    width: 5rem;
    height: 1.25rem;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}

.popup-content {
    background-color: #FFF;
    margin: 15% auto;
    padding: 1.5rem;
    width: 55%;
    border-radius: 0.6rem
}

.popup-content>h2 {
    font-weight: normal;
    text-align: center;
    margin-bottom: 0.5rem;
}

.popup-content>h3 {
    font-weight: normal;
    margin-top: 2rem;
}

.livre {
    background-color: #85ff63 !important;
    border-left: #54ff25;
    color: black;
}

.ocupado {
    background-color: #ed6060 !important;
    border-left: #FF0000;
    color: white;
}

.indisponivel {
    background-color: #808080 !important;
    border-left: #585858;
    color: black;
}

#alunoConfirmado {
    margin-top: 1rem;
}

#alunoConfirmado>p {
    margin-block: 0.5rem;
}

.data-select {
    border: 1px solid blue;
    border-radius: 0.6rem;
    padding: 0.5rem;
    cursor: pointer;
}

.horario-disponivel {
    cursor: pointer;
    background-color: #54ff25;
    color: black;
}

.label-filtro-desativado {
    cursor: not-allowed;
    color: gray;
}

.filtro-desativado {
    cursor: not-allowed;
    border-color: #b9b8b85c;
    background-color: #c9c6c65c;
}

.filtro-desativado:hover {
    cursor: not-allowed;
    border-color: #b9b8b85c;
    background-color: #c9c6c65c;
}



#container-popup {
    align-items: center;
    display: none;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#popup {
    display: none;
    width: 35rem;
    background-color: var(--white);
    border-radius: 0.6rem;
    position: relative;
    margin: 1.5rem;
    height: fit-content;
    z-index: 1001; 
}

#header-popup {
    background-color: var(--azul100);
    display: flex;
    justify-content: space-between;
    padding-inline: .5rem;
    padding-block: .3rem;
    padding: 1rem;;
    border-radius: .6rem .6rem 0 0;
    box-shadow: 1.5px 1.5px#0000002d;
}

#div-legenda-semana{
    display: flex;
    justify-content: center;
    font-weight: 200;
}

#titulo-popup {
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

#btn-close {
    color: var(--azul05);
    cursor: pointer;
}

#informacoes-popup {
    justify-content: center;
    width: 100%;
    gap: 5rem;
    display: none;
    padding-top: 1.5rem;
}

#div-legenda-semana{
    display: none;
}

.escondido{
    display: none;
}

.accordion{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;
    overflow-y: scroll;
    height: 400px;
}

.accordion-button{
    width: 100%;
    height: 4rem;
}

.day{
    width: 100%;
}

#form{
    width: 40%;
}

#cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 47%;
}

.card{
    box-shadow: 1.5px 1.5px#0000002d;
    color: var(--azul100);
    border-radius: 1rem;
    background-color: var(--white);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    cursor: pointer;
}


.card:hover{
    background-color: var(--azul20);
}

#selecoes-popup {
    background-color: var(--white);
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 .6rem .6rem;
    box-shadow: 1.5px 1.5px#0000002d;
}

#selecoes-popup>div {
    margin-block: .5rem;
}

#justificativa {
    margin-block: .5rem;
}

textarea {
    resize: none;
}

#btn-navegacao-popup {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    padding-top: 0;
    gap: 1rem;
}

#btn-marcar-popup {
    background-color: var(--azul100);
    color: var(--white);
}

#btn-cancel-popup {
    background-color: transparent;
    border-color: var(--azul70);
    color: var(--azul70);
}

#btn-cancel-popup,
#btn-marcar-popup {
    width: 100%;
    padding-block: .3rem;
    padding-inline: .4rem;
}